langgraph
langchain-core


# Chat and embeddings models
langchain[openai]

# Indexing - Loading documents
langchain-community
beautifulsoup4

# Indexing - Splitting documents
langchain-text-splitters
