langgraph

# Chat model
langchain[google-genai]

# Embeddings model
langchain[openai]

# Vector store
langchain-core

# Indexing - Loading documents
langchain-community
beautifulsoup4

# Indexing - Splitting documents
langchain-text-splitters
